In [9]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

## 1つの観光地の情報を取得
### 観光地名の取得

In [2]:
elem_RankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [28]:
elem_title = elem_RankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [8]:
title = elem_title.text
title

'1\n観光地 1'

In [12]:
title.split('\n')[1]

'観光地 1'

# 総合評価の取得

In [18]:
elem = browser.find_element_by_class_name('u_rankBox')
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.7'

In [17]:
elem = browser.find_element_by_class_name('evaluateNumber')
elem.text

'4.7'

# 各項目の評価を取得

#### 楽しさ

In [23]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[0]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.6'

#### 人混みの多さ

In [24]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[1]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.5'

#### 景色

In [25]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[2]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.9'

#### アクセス

In [26]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[3]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.2'

## すべての観光地の情報を取得

### 観光地名

In [79]:
elem_RankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_RankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [30]:
elems_RankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [31]:
len(elems_RankingBox)

10

In [10]:
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

#すべての観光地名を格納するリスト　titlesを用意
titles = []

for elem_rankingBox in elems_rankingBox:  
#elem_RankingBox = elems_rankingBox[1]
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [7]:
titles

NameError: name 'titles' is not defined

### 総合評価

In [49]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')
len(elems_rank)

10

In [51]:
elems_rank[3].find_element_by_class_name('evaluateNumber').text

'4.5'

In [11]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')

ranks = []

for elem_rank in elems_rank:  
#elem_rank = elems_rank[3]
    elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(elem_rank.text)
    ranks.append(rank)

In [57]:
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

### 各項目

In [15]:
elems = browser.find_elements_by_class_name('u_categoryTipsItem')

In [62]:
len(elems)

10

In [16]:
categories = []

for elem in elems:
#elem = elems[1]
    elems_rank = elem.find_elements_by_class_name('is_rank')

    _ranks = []
    for elem_rank in elems_rank:  
        rank = elem_rank.find_element_by_class_name('evaluateNumber').text
        _ranks.append(float(rank))
    categories.append(_ranks)

In [17]:
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

### Pandasの形式に変換

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame()

In [20]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [104]:
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [21]:
df_categories = pd.DataFrame(categories)
df_categories.columns =['楽しさ','人混みの多さ','景色','アクセス']
df_categories

   楽しさ  人混みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [22]:
df=pd.concat([df,df_categories],axis=1)
df

     観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1   4.7  4.6     4.5  4.9   4.2
1   観光地 2   4.7  4.6     4.5  4.9   4.2
2   観光地 3   4.6  4.5     4.4  4.8   4.1
3   観光地 4   4.5  4.4     4.4  4.8   4.0
4   観光地 5   4.5  4.4     4.3  4.7   4.0
5   観光地 6   4.4  4.3     4.3  4.7   3.9
6   観光地 7   4.3  4.2     4.2  4.6   3.8
7   観光地 8   4.3  4.2     4.2  4.6   3.8
8   観光地 9   4.2  4.1     4.1  4.5   3.7
9  観光地 10   4.1  4.0     4.1  4.4   3.6

In [107]:
df.to_csv('観光地情報.csv',index=False)

## 全ページの情報を取得

In [23]:
'https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(1)

'https://scraping-for-beginner.herokuapp.com/ranking/?page=1'

In [24]:
titles = []
ranks = []
categories = []

for page in range(1,4):
    url = 'https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(page)
    browser.get(url)

    #観光地名
    elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
    for elem_rankingBox in elems_rankingBox:  
        elem_title = elem_rankingBox.find_element_by_class_name('u_title')
        title = elem_title.text.split('\n')[1]
        titles.append(title)

    #総合評価
    elems_rank = browser.find_elements_by_class_name('u_rankBox')
    for elem_rank in elems_rank:  
        elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
        rank = float(elem_rank.text)
        ranks.append(rank)

    #各項目
    elems = browser.find_elements_by_class_name('u_categoryTipsItem')
    for elem in elems:
        elems_rank = elem.find_elements_by_class_name('is_rank')
        _ranks = []
        for elem_rank in elems_rank:  
            rank = elem_rank.find_element_by_class_name('evaluateNumber').text
            _ranks.append(float(rank))
        categories.append(_ranks)

In [25]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10',
 '観光地 11',
 '観光地 12',
 '観光地 13',
 '観光地 14',
 '観光地 15',
 '観光地 16',
 '観光地 17',
 '観光地 18',
 '観光地 19',
 '観光地 20',
 '観光地 21',
 '観光地 22',
 '観光地 23',
 '観光地 24',
 '観光地 25',
 '観光地 26',
 '観光地 27',
 '観光地 28',
 '観光地 29',
 '観光地 30']

In [26]:
ranks

[4.7,
 4.7,
 4.6,
 4.5,
 4.5,
 4.4,
 4.3,
 4.3,
 4.2,
 4.1,
 4.1,
 4.0,
 3.9,
 3.9,
 3.8,
 3.7,
 3.7,
 3.6,
 3.5,
 3.5,
 3.4,
 3.3,
 3.3,
 3.2,
 3.1,
 3.1,
 3.0,
 2.9,
 2.9,
 2.8]

In [27]:
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6],
 [4.0, 4.0, 4.4, 3.6],
 [3.9, 4.0, 4.3, 3.5],
 [3.8, 3.9, 4.3, 3.4],
 [3.8, 3.9, 4.2, 3.4],
 [3.7, 3.8, 4.2, 3.3],
 [3.6, 3.8, 4.1, 3.2],
 [3.6, 3.7, 4.1, 3.2],
 [3.5, 3.7, 4.0, 3.1],
 [3.4, 3.6, 3.9, 3.0],
 [3.4, 3.6, 3.9, 3.0],
 [3.3, 3.5, 3.8, 2.9],
 [3.2, 3.5, 3.8, 2.8],
 [3.2, 3.4, 3.7, 2.8],
 [3.1, 3.4, 3.7, 2.7],
 [3.0, 3.3, 3.6, 2.6],
 [3.0, 3.3, 3.6, 2.6],
 [2.9, 3.2, 3.5, 2.5],
 [2.8, 3.2, 3.4, 2.4],
 [2.8, 3.1, 3.4, 2.4],
 [2.7, 3.1, 3.3, 2.3]]

### Pandasの形式に変換

In [28]:
df = pd.DataFrame()

In [30]:
df['観光地名'] = titles
df['総合評価'] = ranks
df

      観光地名  総合評価
0    観光地 1   4.7
1    観光地 2   4.7
2    観光地 3   4.6
3    観光地 4   4.5
4    観光地 5   4.5
5    観光地 6   4.4
6    観光地 7   4.3
7    観光地 8   4.3
8    観光地 9   4.2
9   観光地 10   4.1
10  観光地 11   4.1
11  観光地 12   4.0
12  観光地 13   3.9
13  観光地 14   3.9
14  観光地 15   3.8
15  観光地 16   3.7
16  観光地 17   3.7
17  観光地 18   3.6
18  観光地 19   3.5
19  観光地 20   3.5
20  観光地 21   3.4
21  観光地 22   3.3
22  観光地 23   3.3
23  観光地 24   3.2
24  観光地 25   3.1
25  観光地 26   3.1
26  観光地 27   3.0
27  観光地 28   2.9
28  観光地 29   2.9
29  観光地 30   2.8

In [31]:
df_categories = pd.DataFrame(categories)
df_categories.columns =['楽しさ','人混みの多さ','景色','アクセス']
df_categories

    楽しさ  人混みの多さ   景色  アクセス
0   4.6     4.5  4.9   4.2
1   4.6     4.5  4.9   4.2
2   4.5     4.4  4.8   4.1
3   4.4     4.4  4.8   4.0
4   4.4     4.3  4.7   4.0
5   4.3     4.3  4.7   3.9
6   4.2     4.2  4.6   3.8
7   4.2     4.2  4.6   3.8
8   4.1     4.1  4.5   3.7
9   4.0     4.1  4.4   3.6
10  4.0     4.0  4.4   3.6
11  3.9     4.0  4.3   3.5
12  3.8     3.9  4.3   3.4
13  3.8     3.9  4.2   3.4
14  3.7     3.8  4.2   3.3
15  3.6     3.8  4.1   3.2
16  3.6     3.7  4.1   3.2
17  3.5     3.7  4.0   3.1
18  3.4     3.6  3.9   3.0
19  3.4     3.6  3.9   3.0
20  3.3     3.5  3.8   2.9
21  3.2     3.5  3.8   2.8
22  3.2     3.4  3.7   2.8
23  3.1     3.4  3.7   2.7
24  3.0     3.3  3.6   2.6
25  3.0     3.3  3.6   2.6
26  2.9     3.2  3.5   2.5
27  2.8     3.2  3.4   2.4
28  2.8     3.1  3.4   2.4
29  2.7     3.1  3.3   2.3

In [32]:
df=pd.concat([df,df_categories],axis=1)
df

      観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0    観光地 1   4.7  4.6     4.5  4.9   4.2
1    観光地 2   4.7  4.6     4.5  4.9   4.2
2    観光地 3   4.6  4.5     4.4  4.8   4.1
3    観光地 4   4.5  4.4     4.4  4.8   4.0
4    観光地 5   4.5  4.4     4.3  4.7   4.0
5    観光地 6   4.4  4.3     4.3  4.7   3.9
6    観光地 7   4.3  4.2     4.2  4.6   3.8
7    観光地 8   4.3  4.2     4.2  4.6   3.8
8    観光地 9   4.2  4.1     4.1  4.5   3.7
9   観光地 10   4.1  4.0     4.1  4.4   3.6
10  観光地 11   4.1  4.0     4.0  4.4   3.6
11  観光地 12   4.0  3.9     4.0  4.3   3.5
12  観光地 13   3.9  3.8     3.9  4.3   3.4
13  観光地 14   3.9  3.8     3.9  4.2   3.4
14  観光地 15   3.8  3.7     3.8  4.2   3.3
15  観光地 16   3.7  3.6     3.8  4.1   3.2
16  観光地 17   3.7  3.6     3.7  4.1   3.2
17  観光地 18   3.6  3.5     3.7  4.0   3.1
18  観光地 19   3.5  3.4     3.6  3.9   3.0
19  観光地 20   3.5  3.4     3.6  3.9   3.0
20  観光地 21   3.4  3.3     3.5  3.8   2.9
21  観光地 22   3.3  3.2     3.5  3.8   2.8
22  観光地 23   3.3  3.2     3.4  3.7   2.8
23  観光地 24   3.2  3.1     3.4  3.7   2.7
24  観光地 25   3.1  3.0     3.3  3.6   2.6
25  観光地 26   3.1  3.0     3.3  3.6   2.6
26  観光地 27   3.0  2.9     3.2  3.5   2.5
27  観光地 28   2.9  2.8     3.2  3.4   2.4
28  観光地 29   2.9  2.8     3.1  3.4   2.4
29  観光地 30   2.8  2.7     3.1  3.3   2.3

In [33]:
df.to_csv('観光地情報2.csv',index=False)